@tailwind base;
@tailwind components;

.button {
  @apply inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer;
}

.default-ring {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.icon-button {
  @apply p-1 text-indigo-400 hover:text-indigo-600 transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer rounded-md;
}

.spinner {
  @apply inline-flex items-center w-6 h-6 animate-spin;
}

.accordion-content {
  overflow: hidden;

  &[data-state="open"] {
    animation: slideup 300ms ease-out forwards;
  }

  &[data-state="closed"] {
    animation: slidedown 300ms ease-out forwards;
  }
}

@keyframes slideup {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slidedown {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@tailwind utilities;
